html, body{
  height: 100%;
}
.full-height{
  height: 100%;
}
.big-padding{
  padding: 2em 1.5em;
}
.no-margin{
  margin: 0;
}
.top-space{
  margin-top: 1em;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
