html, body{
  height: 100%;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
.big-padding{
  padding: 2em 1.5em;
}
.large-padding{
  padding: 10px 15px;
}
.border-bottom{
  border-bottom: 1px solid currentcolor;
}
.no-margin{
  margin: 0;
}
.medium{
  font-size: 1.2em;
}
.top-space{
  margin-top: 1em;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.remove-bullet-points{
  list-style-type: none;
  margin: 0;
}
.no-underline{
  text-decoration: none;
}
.circle{
  border-radius: 50%;
}
